<div class="h-full p-10">
  <p class="2xl:text-9xl xl:text-8xl lg:text-7xl md:text-6xl sm:text-6xl xs:text-5xl text-center font-extrabold text-blue-900 p-10">City Weather</p>
  <div class="relative flex w-full flex-wrap items-stretch mb-3 mat-elevation-z8">
    <span class="z-10 h-full leading-normal font-normal absolute text-center text-gray-400 bg-transparent rounded text-lg items-center justify-center w-8 pl-3 py-4">
    <fa-icon [icon]="faSearch" (click)="searchCity()"></fa-icon>
    </span>
    <input #searchInput (keyup.enter)="searchCity()" type="text" placeholder="Search City" class="px-3 py-4 placeholder-gray-400 text-gray-600 relative bg-white rounded text-base border border-gray-400 outline-none focus:outline-none focus:ring w-full pl-10"/>
  </div>
  <div *ngIf="chartData$ | async as chartData" class="my-10 py-5 px-10 w-full bg-white rounded mat-elevation-z8">
    <canvas baseChart [datasets]="chartData.barChartData" [labels]="chartData.barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="barChartType"></canvas>  
  </div>
  <div [hidden]="tableDataSource?.data?.length === 0" class="pb-20">
    <table mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8 w-full">

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by city">
        City
      </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <!-- Temperature Column -->
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by temperature">
        Temperature
      </th>
      <td mat-cell *matCellDef="let element"> {{element.temperature}} °C</td>
    </ng-container>

    <!-- Sunrise Column -->
    <ng-container matColumnDef="sunrise">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sunrise">
        Sunrise
      </th>
      <td mat-cell *matCellDef="let element"> {{element.sunrise | date:'HH:mm z' }} </td>
    </ng-container>

    <!-- Sunset Column -->
    <ng-container matColumnDef="sunset">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sunset">
        Sunset
      </th>
      <td mat-cell *matCellDef="let element"> {{element.sunset | date:'HH:mm z'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>